@model UsersIndexViewModel

<div class="viewsContainer">
    <h2>Search Users</h2>

    <form method="get">
        <input class="searchInput" type="text" name="Search" placeholder="Enter username...">
        <input class="searchButton" type="submit" value="Search">
    </form>

    <hr class="separator-double">

    @*Uppgift 8 - Visa felmeddelande*@
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    @if (Model.Result.Any())
    {
        <ul>
            @foreach (var user in Model.Result)
            {
                <li class="userItem">
                    <img class="profileImageMedium" src="~/images/profilePictures/@user.ProfileImageFilename" alt="Profile Image">

                    <a asp-controller="Users" asp-action="ShowUser" asp-route-id="@user.Id" class="userName">
                        @user.Name
                    </a>

                    @if (Model.FollowingUsers.Any(f => f.Id == user.Id))
                    {
                        @* Om användare är redan följd visa Unfollow *@
                        <form method="post" action="/Users/StopListenToUser">
                            <input type="hidden" name="UserId" value="@user.Id">
                            <button class="unfollowButton" type="submit">Unfollow</button>
                        </form>
                    }
                    else
                    {
                        @* Om användare är redan följd visa Follow *@
                        <form method="post" action="/Users/ListenToUser">
                            <input type="hidden" name="UserId" value="@user.Id">
                            <button class="followButton" type="submit">Follow</button>
                        </form>
                    }
                </li>
            }
        </ul>
    }

    <h2>Followed Users</h2>

    @if (Model.FollowingUsers.Any())
    {
        <ul class="followedUsersList">
            @foreach (var user in Model.FollowingUsers)
            {
                <li class="userItem">
                    <img class="profileImageMedium" src="~/images/profilePictures/@user.ProfileImageFilename" alt="Profile Image">

                    <a asp-controller="Users" asp-action="ShowUser" asp-route-id="@user.Id" class="userName">
                        @user.Name
                    </a>

                    <form method="post" action="/Users/StopListenToUser">
                        <input type="hidden" name="UserId" value="@user.Id">
                        <button class="unfollowButton" type="submit">Unfollow</button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>You are not following anyone.</p>
    }
</div>
