@model ProfileIndexViewModel

<div class="viewsContainer">
    <h2>Update Profile</h2>

    @*Uppgift 8 - Visa felmeddelande*@
    @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    <div class="profileHeader">
        <img class="profileImageLarge" src="~/images/profilePictures/@Model.ImageFilename" alt="Profile Image">
        <b>@Model.Name</b>
    </div>

    <form method="post" action="/Profile/Update" enctype="multipart/form-data">  @*enctype gör att formuläret kan hantera filuppladdningar*@
        <label for="Name">New Username</label>
        <div style="padding-top: 10px;">
            <input type="text" class="textAreaFullWidth" name="Name" value="@Model.Name" required>
        </div>

        @*Uppgift 2 - Ladda upp profilbild*@
        <div style="padding-top: 10px;">
            <label for="ProfileImageFile">Change Profile Picture</label>
            <input type="file" name="ProfileImageFile">
            <input class="saveButton" type="submit" value="Save" style="float: right">
        </div>
    </form>

    <hr class="separator-double">

    <h2>Users You Follow</h2>

    @if (Model.FollowingUsers.Any())
    {
        <ul class="followedUsersList">
            @foreach (var user in Model.FollowingUsers)
            {
                <li class="userItem">
                    <img class="profileImageMedium" src="~/images/profilePictures/@user.ProfileImageFilename" alt="Profile Image">
                    <a asp-controller="Users" asp-action="ShowUser" asp-route-id="@user.Id" class="userName">
                        @user.Name
                    </a>


                    <form method="post" action="/Users/StopListenToUser">
                        <input type="hidden" name="UserId" value="@user.Id">
                        <button class="unfollowButton" type="submit">Unfollow</button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>You are not following anyone.</p>
    }

    <a asp-controller="Users" asp-action="Following" class="viewFollowingButton">
        View Following List
    </a>
</div>
